* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#screensContainer {
  display: flex;
  width: 98.5vw;
  flex-wrap: wrap;
  justify-content: space-around;
}

.playerScreen {
  border: black solid 3px;
  width: 24vw;
  height: 40vh;
  margin-top: 15px;
  padding: 5px;
  text-align: center;
  font-size: 2em;
  white-space: pre;
}

.gameScreen {
  display: flex;
  flex-wrap: wrap;
}
